<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DaaS Identity Server</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/semantic-ui/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/semantic-ui/semantic.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="ui fixed inverted menu">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="header item">DaaS Identity Server</a>
        
        <a asp-area="" asp-controller="Home" asp-action="Index" class="item">Home</a>
        <a asp-area="" asp-controller="Home" asp-action="About" class="item">About</a>
        <a asp-area="" asp-controller="Home" asp-action="Contact" class="item">Contact</a>

        @await Html.PartialAsync("_LoginPartial")
    </div>

    <div class="ui main container" style="margin-top: 50px;">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic-ui/semantic.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/semantic-ui/semantic.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
