@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    bool signedOut = ViewData["signed-out"] != null && (bool)ViewData["signed-out"];
}  
@if (SignInManager.IsSignedIn(User) && !signedOut)
{
    <div class="right menu">
        <a class="ui item button" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">
            Hello @UserManager.GetUserName(User)!
        </a>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <button class="ui item button" type="submit" class="item">Log out</button>
        </form>
    </div>
}
else
{
    <div class="right menu">
        <a class="item" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        <a class="item" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
    </div>
}
