<template>
    <div class="ui segment">
        <div class="ui active dimmer" if.bind="!databases">
            <div class="ui active loader"></div>
        </div>

        <div if.bind="databases">
            <h1 class="ui dividing header">Databases</h1>

            <table class="ui striped celled table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="database of databases">
                        <td>${ database.name }</td>
                        <td>${ database.status }</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</template>
