@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication

@inject SignInManager<AppUser> SignInManager

@model LoginViewModel
    
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DaaS Identity Server</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/semantic-ui/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/semantic-ui/semantic.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui header">
                <div class="content">
                    <i class="large database icon"></i> Sign in to DaaS
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input asp-for="Email" placeholder="E-mail address">
                            <span asp-validation-for="Email"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <label asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
                            <input asp-for="RememberMe" type="checkbox" />                            
                        </div>
                    </div>
                    <div class="ui fluid large submit button">Login</div>
                </div>

                <div asp-validation-summary="All" class="ui error message"></div>
            </form>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic-ui/semantic.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/semantic-ui/semantic.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>
