<template>
    <require from="./connectivity"></require>

    <require from="../dialogs/confirm"></require>
    <require from="../menus/actions/server"></require>
    <require from="../progress/server-provisioning-phase"></require>
    <require from="../status/server-provisioning-status"></require>

    <div class="ui segment" style="min-height: 10.0rem;">
        <div class="ui active dimmer" if.bind="loading">
            <div class="ui active loader"></div>
        </div>

        <div if.bind="!hasError">
            <div if.bind="hasServer">
                <h1 class="ui header">${ server.name }</h1>
                
                <server-provisioning-status server.bind="server"></server-provisioning-status>
                <br/>
                <div if.bind="server.action != 'None'">
                    <strong>Requested Action</strong>: ${ server.action }
                    <br/>
                    <strong>Phase</strong>: ${ server.phase }
                    <div class="ui grid">
                        <div class="four wide column">
                            <server-provisioning-phase-progress server.bind="server" view-model.ref="progressBar"></server-provisioning-phase-progress>
                        </div>
                    </div>
                </div>
                <br/>

                <server-connectivity server.bind="server"></server-connectivity>

                <div class="ui grid">
                    <div class="thirteen wide column"></div>
                    <div class="three wide column">
                        <server-actions-menu server.bind="server"
                            label="Actions"
                            disabled.bind="!isServerReady"
                            
                            show-databases-clicked.call="showDatabases()"
                            show-events-clicked.call="showEvents()"
                            destroy-clicked.call="destroyServer()"
                            repair-clicked.call="repairServer()"
                        >
                        </server-actions>
                    </div>
                </div>
            </div>

            <div if.bind="!hasServer" class="ui warning message">
                <p>
                    Server ${serverId} not found.
                </p>
            </div>
        </div>

        <div if.bind="hasError" class="ui error message">
            <p>
                ${ errorMessage }
            </p>
        </div>
    </div>

    <confirm-dialog view-model.ref="confirmDialog"></confirm-dialog>
</template>
