<template>
    <div class="ui segment">
        <div class="ui active dimmer" if.bind="!servers">
            <div class="ui active loader"></div>
        </div>

        <div if.bind="servers">
            <h1>Servers</h1>

            <div class="ui warning message">
                View not implemented yet (non-tenant API not implemented, so it's just sample data below).
            </div>

            <table class="ui striped celled table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="server of servers">
                        <td>${ server.dateFormatted }</td>
                        <td>${ server.temperatureC }</td>
                        <td>${ server.temperatureF }</td>
                        <td>${ server.summary }</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
