@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel='stylesheet' href='app.css'>
</head>

<body>
    <script src='~/js/oidc-client.js'></script>
    <script type="text/javascript">
        Oidc.Log.logger = console;
        new Oidc.UserManager().signoutPopupCallback();
    </script>
</body>

</html>
