@{
    ViewData["Title"] = "Home Page";
}

<div class="ui one column grid">
    <div class="row">
        <div class="twelve wide column">
            <div class="ui segment">
                <h1 class="ui header">DaaS Identity Server</h1>
            </div>
        </div>
    </div>
</div>
