<template>
    <div class="ui segment" style="min-height: 10.0rem;">
        <div class="ui active dimmer" if.bind="loading">
            <div class="ui active loader"></div>
        </div>

        <div if.bind="!hasError">
            <h1 class="ui header">Tenant: ${ tenant.name }</h1>

            <h3 class="ui dividing header">Server</h3>

            <div if.bind="hasServer">
                <strong>Name</strong>: ${ server.name }
                <br/>
                <strong>Status</strong>: ${ server.status }
                <br/>
                <br/>
                <strong>Requested Action</strong>: ${ server.action }
                <br/>
                <br/>

                <h4 class="ui dividing header">Connectivity</h4>
                <div if.bind="server.publicFQDN">
                    <strong>Host</strong>: ${ server.publicFQDN }
                    <br/>
                    <strong>Port</strong>: ${ server.publicPort }
                    <br/>
                </div>
                <div if.bind="!server.publicFQDN" class="well">
                    Connection details are not currently available for this server.
                </div>

                <div if.bind="isServerReady" style="margin-top: 20px;">
                    <a class="ui icon button" route-href="route: tenantDatabases; params.bind: { id: tenant.id }">
                        <i class="database icon"></i> Show Databases
                    </a>
                    <a class="ui right floated red icon button" if.bind="isServerReady" click.delegate="deleteServer()">
                        <i class="delete icon"></i> Destroy Server
                    </a>
                </div>
            </div>

            <div if.bind="addingServer">
                <form class="ui form">
                    <div class="required field"
                        validation-errors.bind="nameErrors"
                        class.bind="nameErrors.length ? 'error' : ''"
                    >
                        <label>Name</label>
                        <input name="name" value.bind="newServer.name & validate" placeholder="Server name" type="text">
                    </div>

                    <div class="field"
                        validation-errors.bind="adminPasswordErrors"
                        class.bind="adminPasswordErrors.length ? 'error' : ''"
                    >
                        <label>Admin password</label>
                        <input name="databaseUser" value.bind="newServer.adminPassword & validate" placeholder="Password for the sa user" type="password">
                    </div>

                    <div class="ui message" if.bind="validationController.errors.length">
                        <div class="header">One or more fields are invalid</div>
                        
                        <ul>
                            <li repeat.for="error of validationController.errors">
                                ${error.message}
                            </li>
                        </ul>
                    </div>

                    <button class="ui icon button" click.delegate="createServer()" disabled.bind="validationController.errors.length">
                        <i class="add circle icon"></i> Create
                    </button>
                    <button class="ui button" click.delegate="hideCreateServerForm()">Cancel</button>
                </form>
            </div>

            <div if.bind="!hasServer && !addingServer" class="ui info message">
                <p>
                    No server has been deployed for this tenant.
                </p>

                <button class="ui button" click.delegate="showCreateServerForm()">Create Server</button>
            </div>
        </div>

        <div if.bind="hasError" class="ui error message">
            <p>
                ${ errorMessage }
            </p>
        </div>
    </div>
</template>
