<template>
    <div class="ui segment">
        <div class="ui active dimmer" if.bind="!tenant">
            <div class="ui active loader"></div>
        </div>

        <div if.bind="tenant">
            <h1 class="ui header">Tenant: ${ tenant.name }</h1>

            <h3 class="ui dividing header">Server</h3>

            <div if.bind="server">
                <strong>Name</strong>: ${ server.name }
                <br/>
                <strong>Status</strong>: ${ server.status }
                <br/>
                <br/>
                <strong>Requested Action</strong>: ${ server.action }
                <br/>
                <br/>

                <h4 class="ui dividing header">Connectivity</h4>
                <div if.bind="server.publicFQDN">
                    <strong>Host</strong>: ${ server.publicFQDN }
                    <br/>
                    <strong>Port</strong>: ${ server.publicPort }
                    <br/>
                </div>
                <div if.bind="!server.publicFQDN" class="well">
                    Connection details are not currently available for this server.
                </div>

                <div style="margin-top: 20px;">
                    <a class="btn btn-info" route-href="route: tenantDatabases; params.bind: { id: tenant.id }">Databases</a>
                    <br/>
                    <a class="btn btn-info" click.delegate="deleteServer()">Databases</a>
                </div>
            </div>

            <div if.bind="!hasServer" class="ui info message">
                <p>
                    No server has been deployed for this tenant.
                </p>

                <button class="ui button" click.delegate="showCreateServerForm()">Create Server</button>
            </div>

            <form if.bind="newServer" class="ui form">
                <div class="field">
                    <label>Name</label>
                    <input name="name" value.bind="newServer.name" placeholder="Server name" type="text">
                </div>
                <div class="field">
                    <label>Admin password</label>
                    <input name="databaseUser" value.bind="newServer.adminPassword" placeholder="Password for the sa user" type="password">
                </div>
                
                <button class="ui button" click.delegate="createServer()">Create</button>
                <button class="ui button" click.delegate="hideCreateServerForm()">Cancel</button>
            </form>
        </div>
    </div>
</template>
