<template>
    <require from="../../dialogs/confirm"></require>
    <require from="../../menus/actions/database"></require>
    <require from="../../status/database-provisioning-status"></require>

    <require from="./forms/new"></require>

    <div class="ui segment" style="min-height: 10.0rem;">
        <div class="ui active dimmer" if.bind="isLoading">
            <div class="ui active loader"></div>
        </div>

        <div if.bind="!hasError">
            <div if.bind="addingDatabase">
                <new-database-form new-database.bind="newDatabase"
                    create-clicked.call="createDatabase()"
                    cancel-clicked.call="hideCreateDatabaseForm()"
                />
            </div>
            
            <h1 class="ui dividing header" if.bind="!addingDatabase">Databases owned by ${ tenant.name }</h1>

            <div if.bind="hasDatabase && !addingDatabase">
                <button class="ui icon button" click.delegate="showCreateDatabaseForm()">
                    <i class="add circle icon"></i> Add
                </button>
                <button class="ui right floated circular icon button" click.delegate="load(true)">
                    <i class="refresh icon"></i>
                </button>

                <table class="ui striped celled compact table">
                    <thead>
                        <tr>
                            <th class="center aligned"></th>
                            <th class="center aligned">Name</th>
                            <th class="center aligned">Server</th>
                            <th class="center aligned">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="database of databases">
                            <td class="collapsing center aligned">
                                <database-actions-menu database.bind="database" destroy-clicked.call="deleteDatabase(database)"></database-actions-menu>
                            </td>
                            <td class="center aligned">
                                <a route-href="route: database; params.bind: { id: database.id }">${ database.name }</a>
                            </td>
                            <td class="center aligned">
                                <a route-href="route: server; params.bind: { id: database.serverId }">${ database.serverName }</a>
                            </td>
                            <td class="collapsing center aligned">
                                <database-provisioning-status database.bind="database"></database-provisioning-status>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div if.bind="shouldShowNoDatabasesMessage" class="ui info message">
                <p>
                    No databases exist for this tenant.
                </p>

                <button class="ui button" click.delegate="showCreateDatabaseForm()">
                    <i class="add circle button"></i> Create Database
                </button>
            </div>
        </div>

        <div if.bind="hasError" class="ui error message">
            <p innerhtml.bind="errorMessage | sanitizeHTML"></p>
        </div>
    </div>

    <confirm-dialog view-model.ref="confirmDialog"></confirm-dialog>
</template>
