<template>
    <div class="ui ${ disabled ? 'disabled' : '' } dropdown blue icon button" element.ref="rootElement">
        <i class="setting icon"></i>
        <span if.bind="label">${ label }</span>
        <i class="angle down icon"></i>

        <div class="menu">
            <div class="item" class.bind="!canShowEvents ? 'disabled' : ''">
                <a click.delegate="showEventsClicked()">
                    <i class="blue feed icon"></i> Events
                </a>
            </div>
            <div class="item" class.bind="!canShowDatabases ? 'disabled' : ''">
                <a click.delegate="showDatabasesClicked()">
                    <i class="blue database icon"></i> Databases
                </a>
            </div>
            <div class="divider"></div>
            <div class="item" class.bind="!canRepair ? 'disabled' : ''">
                <a click.delegate="repairClicked()">
                    <i class="blue refresh icon"></i> Repair
                </a>
            </div>
            <div class="item" class.bind="!canDestroy ? 'disabled' : ''">
                <a click.delegate="destroyClicked()">
                    <i class="red delete icon"></i> Destroy
                </a>
            </div>
        </div>
    </div>
</template>
