<template>
    <div class="ui dropdown blue icon button" element.ref="rootElement">
        <i class="setting icon"></i> <i class="angle down icon"></i>

        <div class="menu">
            <div class="item" class.bind="!canRepair ? 'disabled' : ''">
                <a click.delegate="repairClicked()">
                    <i class="blue refresh icon"></i> Repair
                </a>
            </div>
            <div class="item" class.bind="!canDestroy ? 'disabled' : ''">
                <a click.delegate="destroyClicked()">
                    <i class="red delete icon"></i> Destroy
                </a>
            </div>
        </div>
    </div>
</template>
