<template>
    <div class="ui segment" style="min-height: 10.0rem;">
        <div class="ui active dimmer" if.bind="!tenants">
            <div class="ui active loader"></div>
        </div>

        <div if.bind="tenants">
            <h1 class="ui dividing header">Tenants</h1>

            <div class="ui relaxed divided list">
                <div class="item" repeat.for="tenant of tenants">
                    <i class="large user icon"></i>
                    <div class="content">
                        <div class="header">
                            <a route-href="route: tenant; params.bind: {id: tenant.id}">
                                ${ tenant.name }
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <button class="ui icon button" disabled="disabled">
                <i class="add circle icon"></i> Add Tenant
            </button>
        </div>

        <h3 if.bind="noTenants">
            No tenants
        </h3>
    </div>
</template>
