<template>
    <h1>Tenants</h1>

    <p if.bind="!tenants"><em>Loading...</em></p>

    <table if.bind="tenants" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="tenant of tenants">
                <td>
                    ${ tenant.name }
                </td>
                <td>
                    <a route-href="route: tenant; params.bind: {id: tenant.id}">Details</a>
                </td>
            </tr>
        </tbody>
    </table>

    <h3 if.bind="noTenants">
        No tenants
    </h3>
</template>
