<template>
    <div class="ui basic modal" element.ref="rootElement">
        <i class="close icon"></i>
        <div class="header">
            ${ title }
        </div>

        <div class="content">
            <div class="description">
                ${ message }
            </div>
        </div>

        <div class="actions">
            <div class="ui inverted basic cancel button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui inverted red ok button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
</template>
